     <div class="side-bar">
        <a href="/home" >Current</a>
        <a href="/home/nonCurrent" >Non-Current</a>
        <a href="/releases" >Upcoming Releases</a>
        <a href="/accounting" >Accounting</a>
    </div>
